<div style="width: 50%; margin: 10px">
  <form #myForm="ngForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="usernameId">Username</label>
      <input type="text"
             class="form-control"
             id="usernameId"
             required
             [(ngModel)]="formData.username"
             #username="ngModel"
             name="username">

      <div *ngIf="username.touched || username.dirty">
        <p *ngIf="username.invalid">Invalid username pattern</p>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
             class="form-control"
             id="password"
             required
             minlength="8"
             maxlength="14"
             [(ngModel)]="formData.password"
             #password="ngModel"
             name="password">
      <div *ngIf="password.touched || password.dirty">
        <p *ngIf="password.errors?.minlength">
          Please provide a password with min 8 chars
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"
             class="form-control"
             id="email"
             required
             [(ngModel)]="formData.email"
             #email="ngModel"
             email
             name="email">
      <div *ngIf="email.touched || email.dirty">
        <p *ngIf="email.invalid">
          Please provide a valid email address
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number"
             class="form-control"
             id="amount"
             min="0"
             [(ngModel)]="formData.amount"
             #amount="ngModel"
             required
             name="amount">
    </div>
    <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    <br>
    <br>
    <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
  </form>
</div>
